

@font-face {
  font-family: Gilroy;
  src: url(../fonts/Gilroy-ExtraBold.woff);
  font-weight: 500;
}
@font-face {
  font-family: Gilroy;
  src: url(../fonts/Gilroy-Medium.woff);
  font-weight: 300;
}
@font-face {
  font-family: Gilroy;
  src: url(../fonts/Gilroy-Light.woff);
  font-weight: 200;
}